@import 'colors.css';

p {
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#diary-head {
  width: 100%;
  height: 30px;
}

#diary-mainbox {
  width: calc(100% - 40px);
  height: 100%;
}

#diary-entries {
  min-height: 1000px;
  padding: 10px;
}

.diary-post {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

.diary-post h2 {
  color: var(--c4);
  border-bottom: 2px dashed var(--c1);
}

.diary-post p {
  transition: background-color 50ms ease;
}

.diary-post p:hover {
  background-color: var(--c1);
}
