:root{
  --shadow: 6px 6px 0px 0px rgba(0,0,0,0.5);
}

html {
  background-color: black;
  background-image: unset;
}

body {
  background-image:url("../assets/bg/XIV2.png");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
