@import 'colors.css';

html {
  background-color: var(--c5);
}

body {
  font-family:'main';
  color: var(--fg);
  background-image:url("assets/spacer.gif");
  background-size: 20%;
  /* background-color: var(--c5); */

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Set margin and padding to 0 to avoid a strange outline */
  margin: 0;
  padding: 0;


  height: 100vh;
  min-height: 1000px;
}

* {
  box-sizing: border-box;
}

h2, h3 {
  margin: 0px;
}

.master {
  user-select: none;
  position: relative;

  height: 800px;
  width: 1200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.border {
  background-color: var(--bg);
  border: solid var(--c1);
}

.textbox {
  background-color: var(--c2);
  padding: 6px;
}

.valign {
  display: flex;
  flex-direction: row;
}

.halign {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 200px;
  margin: 0;
  padding-top: 10px;
}

nav {
  margin-top: 10px;
  margin-left: 20%;

  display:flex;
  flex-direction:column;
  align-items:start;
}

.head {
  width: 100%;
  height: 100px;

  margin-left: -10px;
  margin-right: 0px;
  margin-top: -10px;

  display:flex;
  flex-direction:column;
  align-items:center;

  color: var(--fg);
}

li, ul {
  list-style-position: inside;
  text-align: center;
}

#main {
  width: 970px;
  /* height: 1000px; */

  padding: 10px;

  display:flex;
  flex-direction:column;
  align-items:center;
}

#pfp {
  width: 256px;
  height: 256px;

  left: 20px;
  top: 20px;
  margin-right: 10px;
}

#bio {
  width: 100%;
  justify-content: space-between;
}

#bio-txt {
  padding-top: 10px;
  max-height: 256px;
  overflow: auto;
}

#title {
  padding: 10px;
}

.pic {
  display: flex;
  bottom: 2%;
  width: 100%;

  justify-content: space-evenly;
  margin-top: auto;
  /* border: 2px blue */
}

.float-fixed {
  position: fixed;
  z-index: 10;
}

.float-rel {
  position: absolute;
  z-index: 10;
}

.fade {
  transition: opacity 0s ease;
}

.fade:hover {
  opacity: 0.25;
}

#img1 {
  left: 880px;
  top: 540px;
}

#img2 {
  left: 1160px;
  top: -5px
}

#log-box{
  width: 100%;
  height: 100%;

  margin: 10px;
}

#log-head {
  background-color: var(--c1);
  height: 40px;
  display:flex;
  align-items: center;
  padding-left: 10px;
}

#log-body {
  background-color: var(--c2);
  height: 100%;
  overflow: auto;
}

.update-entry {
  padding-top: 0px;
  margin: 10px;
  border-bottom: 1px dashed red;
  display:flex;
  flex-direction: column;
}

.log-desc {
  margin: 0px;
}

a {
  color: var(--c4);
  text-decoration-line: none;

  &:hover {
    color: var(--c5);
  }
}

.debug {
  border: 2px solid blue;
}
