:root {
--black:	#000000;
--red:	#820000;
--green:	#008200;
--yellow:	#828200;
--blue:	#000082;
--purple:	#820082;
--cyan:	#008282;
--gray:	#C3C3C3;
--darkgray:	#828282;
--lightred:	#FF0000;
--lightgreen:	#00FF00;
--lightyellow:	#FFFF00;
--lightblue:	#0000FF;
--lightpurple:	#FF00FF;
--lightcyan:	#00FFFF;
--white:	#FFFFFF;
}
